<div class="page-header">
    <h1>New Contact</h1>
</div>
<div class="well">
    <form id="insert-contact-form" class="form-horizontal" method="post" action="/contacts/insert" role="form">
        <input type='hidden' name="_csrf" value="{{csrfToken}}">

        <div class="form-group">
            <label for="input-contact-displayName" class="col-sm-2 control-label">Display Name</label>
            <div class="col-sm-10">
                <input id="input-contact-displayName" name="displayName" type="text" value="" />
            </div>
        </div>
        <div class="form-group">
            <label for="input-contact-speakableName" class="col-sm-2 control-label">Speakable Name</label>
            <div class="col-sm-10">
                <input id="input-contact-speakableName" name="speakableName" type="text" value="{{speakableName}}" />
            </div>
        </div>
        <div class="form-group">
            <label for="input-contact-phoneNumber" class="col-sm-2 control-label">Phone #</label>
            <div class="col-sm-10">
                <input id="input-contact-phoneNumber" name="phoneNumber" type="text" value="{{phoneNumber}}" />
            </div>
        </div>
        <div class="form-group">
            <label for="input-contact-imageUrl" class="col-sm-2 control-label">Image URL</label>
            <div class="col-sm-10">
                <input id="input-contact-imageUrl" name="imageUrls" type="text" value="{{imageUrls.[0]}}" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-success pull-right" type="submit" role="button" id="contact-new-btn">Insert Contact</button>
            </div>
        </div>
    </form>
</div>
