<h2>Timeline</h2>
<p>When you first sign in, this Glassware inserts a welcome message. Use these controls to insert more items into your timeline. Learn more about the timeline APIs <a href="https://developers.google.com/glass/timeline" target="_blank">here</a>.</p>

<form id="timeline-insert-form" action="/timeline/insert" method="post" class="form" role="form">
<!--<form id="timeline-insert-form" action="/timeline/insert" method="post" class="form" role="form" enctype="multipart/form-data">-->
    <input type='hidden' name="_csrf" value="{{csrfToken}}">

    <input name="text" type="text" placeholder="Insert text here..." value="">
    <input name="title" type="text" placeholder="Insert title here" value="">

    <div class="checkbox">
        <label><input type="checkbox" name="menuItems[]" value="DELETE" data-menuItem="DELETE" checked> DELETE </label>
        <label><input type="checkbox" name="menuItems[]" value="SHARE" data-menuItem="SHARE" checked> SHARE </label>
    </div>

    <textarea class="form-control" rows="10" cols="50" name="html" placeholder="Glassify me, Captain!" style="resize:none"></textarea>

    <input type="file" name="attachment" maxlength="50">
    <input name='imageUrl' type='hidden' value='/public/assets/images/chipotle-tube-640x360.jpg'>
    <input name='contentType' type='hidden' value='image/jpeg'>

    <button class="btn btn-primary" type="submit" role="button">Insert the above message</button>
    
</form>
<br>

