<h3>{{#if content.timelineItem.title}}{{content.timelineItem.title}}{{/if}}</h3>
<form id="update-item-form" class="form-inline" method="post" action="/timeline/delete">
    <input type='hidden' name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="id" value="{{content.timelineItem.id}}">

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>ID</th><td>{{content.timelineItem.id}}</td>
            </tr>
            <tr>
                <th>Text</th><td><input name="text" type="text" value="{{content.timelineItem.text}}"></td>
            </tr>
            <tr>
                <th>HTML</th><td>{{content.timelineItem.html}}</td>
            </tr>
            <tr>
                <th>Menu Items</th>
                <td>
                    <div class="checkbox">
                        <label><input type="checkbox" name="menuItems.SHARE" value="DELETE" data-menuItem="DELETE" {{#if content.timelineItem.menuItemsObj}}{{#if content.timelineItem.menuItemsObj.DELETE}}checked{{/if}}{{/if}}> DELETE </label>
                        <label><input type="checkbox" name="menuItems.DEBUG" value="SHARE" data-menuItem="SHARE" {{#if content.timelineItem.menuItemsObj}}{{#if content.timelineItem.menuItemsObj.SHARE}}checked{{/if}}{{/if}}> SHARE </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Attachments</th>
                <td>
                    {{#if content.timelineItem.attachments}}
                        {{#each content.timelineItem.attachments}}
                            <img src="/attachment-proxy?timelineItemId={{content.timelineItem.id}}&attachmentId={{this.id}}">
                        {{/each}}
                    {{else}}
                        <div class="muted">None</div>
                    {{/if}}
                </td>
            </tr>
            <tr>
                <td>
                    <button id="update-btn" class="btn btn-block btn-danger" type="submit">Update</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<form id="delete-item-form" class="form-inline" method="post" action="/timeline/delete">
    <input type='hidden' name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="id" value="{{content.timelineItem.id}}">
    <button class="btn btn-block btn-danger" type="submit">Delete</button>
</form>

