<h2>Timeline</h2>
<p>When you first sign in, this Glassware inserts a welcome message. Use these controls to insert more items into your timeline. Learn more about the timeline APIs <a href="https://developers.google.com/glass/timeline" target="_blank">here</a>.</p>

<br>

<form id="timeline-insert-form" action="/timeline/insert" method="post" class="form" role="form">
<!--<form id="timeline-insert-form" action="/timeline/insert" method="post" class="form" role="form" enctype="multipart/form-data">-->
    <input type='hidden' name="_csrf" value="{{csrfToken}}">

    <label>Title <input name="title" type="text" placeholder="Insert title here" value=""></label>
    <label>Text <input name="text" type="text" placeholder="Insert text here..." value=""></label> 

    <label>HTML
        <textarea class="form-control" rows="10" cols="50" name="html" placeholder="Glassify me, Captain!" style="resize:none"></textarea>
    </label>


    <br>

    <div class="row">

        <div class="checkboxes">
            <label><input type="checkbox" name="menuItems.DELETE" value="DELETE" data-menuItem="DELETE" checked> DELETE </label>
            <label><input type="checkbox" name="menuItems.SHARE" value="SHARE" data-menuItem="SHARE" checked> SHARE </label>
            <label><input type="checkbox" name="menuItems.READ-ALOUD" value="READ-ALOUD" data-menuItem="READ-ALOUD" checked> READ-ALOUD </label>
        </div>

        <br>

        <label>Attachment <input type="file" name="attachment" maxlength="50"></label>
        <input name='imageUrl' type='hidden' value='/public/assets/images/chipotle-tube-640x360.jpg'>
        <input name='contentType' type='hidden' value='image/jpeg'>

        <br>

        <button class="btn btn-success pull-right" type="submit" role="button" id="timeline-items-new-btn">Insert Timeline Item</button>
    </div>
    
</form>
<br>

