<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Glassware Starter Project</title>
        <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/public/vendor/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="/public/assets/stylesheets/app.css" rel="stylesheet" media="screen">
        <meta name="csrf-token" content="{{csrfToken}}">
    </head>
    <body>
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Mirror QuickStart - Node.js</a>
                </div>
            </div><!-- /.container -->
        </div><!-- /.navbar -->

        <div class="container">

            <div id="header-alert" class="alert alert-info alert-dismissable hidden">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong>Deleted!</strong> Item was deleted from your timeline.
            </div>

            <div class="row row-offcanvas row-offcanvas-right">

                <div class="col-xs-12 col-sm-9">
                    <p class="pull-right visible-xs">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                    </p>
                    <div class="jumbotron">
                        <h1>Hello, Glass!</h1>
                        <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-6 col-lg-4">
                            <h2>Timeline</h2>
                            <p>When you first sign in, this Glassware inserts a welcome message. Use these controls to insert more items into your timeline. Learn more about the timeline APIs <a href="https://developers.google.com/glass/timeline" target="_blank">here</a>.</p>
                            <form id="timeline-insert-message-form" action="/insert-item" method="post" class="form" role="form">
                                <textarea class="form-control" rows="3" name="timeline-message" placeholder="Glassify me, Captain!" style="resize:none"></textarea>
                                <button class="btn btn-primary btn-block" type="submit" role="button">Insert the above message</button>
                            </form>
                            <br>
                            <form id="timeline-insert-picture-form" action='/insert-item' method='post'>
                                <input name='message' type='hidden' value='Chipotle says hi!'>
                                <input name='imageUrl' type='hidden' value='/public/assets/images/chipotle-tube-640x360.jpg'>
                                <input name='contentType' type='hidden' value='image/jpeg'>
                                <button class='btn btn-block btn-default' type='submit'>
                                    Insert a picture
                                    <img class='button-icon' src='/public/assets/images/chipotle-tube-640x360.jpg'>
                                </button>
                            </form>
                            <br>
                            <form id="timeline-insert-action-form" action='/insert-item-with-action' method='post'>
                                <button class='btn btn-default btn-block' type='submit'>
                                    Insert a card you can reply to
                                </button>
                            </form>
                            <br>
                            <form id="timeline-insert-all-form" action='/insert-all-users' method='post'>
                                <button class='btn btn-default btn-block' type='submit'>
                                    Insert a card to all users
                                </button>
                            </form>
                        </div><!--/span-->
                        <div class="col-6 col-sm-6 col-lg-4">
                            <h2>Contacts</h2>
                            <p>By default, this project inserts a single contact that accepts all content types. Learn more about contacts <a href="https://developers.google.com/glass/contacts" target="_blank">here</a>.</p>
                            <br>
                            <form id="contacts-delete-form" action="/delete-contact" method="post" class="form" role="form">
                                <p><button class="btn btn-danger" type="submit" role="button">Delete Node.js QuickStart Contact</button></p>
                            </form>
                        </div><!--/span-->
                        <div class="col-6 col-sm-6 col-lg-4">
                            <h2>Subscriptions</h2>
                            <p>By default a subscription is inserted for changes to the timeline collection. Learn more about subscriptions <a href="https://developers.google.com/glass/subscriptions" target="_blank">here</a>.</p>
                            <p class="alert alert-info">Note: Subscriptions require SSL. They will not work on localhost.</p>
                            <form id="subscription-timeline-updates-form" action="/insert-subscription" method="post" class="form" role="form">
                                <input name="subscriptionId" type="hidden" value="timeline">
                                <button class="btn btn-block btn-success" type="submit">Subscribe to timeline updates</button>
                            </form>
                            <br>
                            <form id="subscription-location-updates-form" action="/insert-subscription" method="post" class="form" role="form">
                                <input name="subscriptionId" type="hidden" value="locations">
                                <button class="btn btn-block btn-success" type="submit">Subscribe to location updates</button>
                            </form>

                        </div><!--/span-->
                    </div><!--/row-->
                </div><!--/span-->

                <div class="col-xs-6 col-sm-3 sidebar-offcanvas panel panel-default" id="sidebar" role="navigation" style="padding:0;">
                    <div class="panel-heading">Recent Timeline Updates</div>
                    <div class="list-group">
                        <a href="#" data-item="itemId" class="list-group-item">Link</a>
                        <a href="#" data-item="itemId" class="list-group-item">Link</a>
                        <a href="#" data-item="itemId" class="list-group-item">Link</a>
                    </div>
                </div><!--/span-->
            </div><!--/row-->

            <hr>

            <footer>
                <p>&copy; Alex Ehrnschwender 2013</p>
            </footer>

        </div><!--/.container-->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/public/vendor/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
